
body {
    background-image:#34495e;
  }
  

.login-box {
    position:absolute;
    width:400px;
    height:400px;
    padding: 30px, 20px;
    background-color:#FFFFFF;
    text-align:center;
    top:40%;
    left:50%;
    transform: 
    translate(-50%,-50%);
  border-radius: 15px;
}

.login-box ul{
    width: 100%;
    text-align: right; /* 글자를 오른쪽으로 처리 */
    margin-bottom: 20px;
}
.login-box li{
    display: inline-block;
    height: 12px; line-height: 12px;
}
.login-box li:last-child{
    border-left: 1px solid #333;
    padding-left: 10px; /* 테두리 안쪽 여백 */
    margin-left: 4px; /* 테두리 바깥쪽 여백 */
}
.login-box a{
       /* 글자관련은 보통 최종태그에 줘야 적용 */
       color: #333; font-size: 12px;

       /* 현재 위치에서 상대적 이동 */
       position: relative; top: -2px;
}
.logo {
    text-align: center;
    margin: 50px;
}

.login_bt {
    position:relative;
    left:40%;
    transform: translateX(-50%);
    margin-bottom: 40px;
    width:80%;
    height:40px;
    background: linear-gradient(125deg,#81ecec,#6c5ce7,#81ecec);
    background-position: left;
    background-size: 200%;
    color:white;
    font-weight: bold;
    border:none;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
}
.login_bt:hover{
    background-position: right;
}
.textForm {
    border-bottom: 2px solid #adadad;
    margin: 30px;
    padding: 10px 10px;
}
.id {
    width: 100%;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
   border: none;
  }
  
  .pw {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
  }